<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sudoku Solver</title>
    </head>
    <body>
        <form id="form_sudoku_board" action="/sudoku_solver/solve" method="post">
            <input type="text" name="1-1" value="">
            <input type="text" name="1-1" value="">
            <input type="text" name="1-1" value="">
            <input type="text" name="1-1" value="">
            <input type="text" name="1-1" value="">
        </form>
    </body>
</html>
